<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Project</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sourav Singh</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/projects">Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact me</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<h1 class="text-center my-3 py-3">Projects</h1>
<div class="container my-3">

    <h2 class="fw-bolder" id="designer">Designer</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 30rem;height:31rem">
                <img src="https://source.unsplash.com/500x300/?gym" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gym Website</h5>
                    <p class="card-text">In this i have designed a simple front end of a gym website where vistors can contact
                        the gym owner by filling the form.</p>
                    <a href="https://sourav0.github.io/gym-website/" class="btn btn-primary ">click me!!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card" style="width: 30rem;margin-left:140px;height:31rem">
                <img src="https://source.unsplash.com/500x300/?Fashion" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fashion Website</h5>
                    <p class="card-text">By clicking this yoou will be directed to one of my E-Com website whose landing page
                        is ready but and in perfectyly working condition i am working hard to make the design of other pages working
                        very soon.</p>
                    <a href="https://sourav0.github.io/fashion-website/" class="btn btn-primary">click me!!</a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container my-3">

    <h2 class="fw-bolder" id="developer">Developer</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 30rem;height:32rem">
                <img src="https://source.unsplash.com/500x300/?calculator" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Attandance and Salary Calculator App</h5>
                    <p class="card-text">In this project i have created a desktop app which can mark attandance
                        of employe and calculate the salary on the bases of attandane and basic pay given
                        at the time of registring the user.</p>
                    <a href="https://github.com/sourav0/minor" class="btn btn-primary">click me!!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card" style="width: 30rem;margin-left:140px;height:32rem">
                <img src="https://source.unsplash.com/500x300/?class" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">My Training work</h5>
                    <p class="card-text">This link contain everything or i can say it is my daily diary of 6 month industrial
                        training.</p>
                    <a href="https://github.com/sourav0/pract" class="btn btn-primary">click me!!</a>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer mt-1 py-2 bg-dark">
  <div class="container">
    <span class="text-muted ">Copyright &copy; All right reserved to Owner of this Website.</span>
  </div>
</footer>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
-->
</body>
</html>